<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.rrricardo.postcalendarbackend.mappers.GroupLinkMapper">

    <select id="getGroupLinks" resultType="GroupLink">
        select * from `user_group_links`
    </select>

    <select id="getGroupLinkById" parameterType="int" resultType="GroupLink">
        select * from `user_group_links` where id=#{id}
    </select>

    <select id="getGroupLinksByUserId" parameterType="int" resultType="GroupLink">
        select * from `user_group_links` where `userId`=#{userId}
    </select>

    <select id="getGroupLinksByGroupId" parameterType="int" resultType="GroupLink">
        select * from `user_group_links` where `groupId`=#{gourpId}
    </select>

    <select id="getGroupLinkByUserIdAndGroupId" resultType="GroupLink">
        select * from `user_group_links` where `userId`=#{userId} and `groupId`=#{groupId}
    </select>

    <insert id="createGroupLink" parameterType="GroupLink" useGeneratedKeys="true" keyProperty="id">
        insert into `user_group_links` (`userId`, `groupId`, `permission`)
        values (#{userId},
                #{groupId},
                #{permission})
    </insert>

    <update id="updateGroupLink" parameterType="GroupLink">
        update `user_group_links`
        set `userId`=#{userId},
            `groupId`=#{groupId},
            `permission`=#{permission}
        where id = #{id}
    </update>

    <delete id="deleteGroupLink" parameterType="int">
        delete from `user_group_links` where id=#{id}
    </delete>
</mapper>