<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.rrricardo.postcalendarbackend.mappers.TimeSpanEventMapper">
    <select id="getEvents" resultType="TimeSpanEvent">
        select * from `time_span_events`
    </select>

    <select id="getEventById" parameterType="int" resultType="TimeSpanEvent">
        select * from `time_span_events` where `id` = #{id}
    </select>

    <insert id="createEvent" parameterType="TimeSpanEvent" useGeneratedKeys="true" keyProperty="id">
        insert into `time_span_events` (`name`, `details`, `userId`, `groupId`, `placeId`, `beginDateTime`,
                                        `endDateTime`)
        values (#{name},
                #{details},
                #{userId},
                #{groupId},
                #{placeId},
                #{beginDateTime},
                #{endDateTime})
    </insert>

    <update id="updateEvent" parameterType="TimeSpanEvent">
        update `time_span_events`
        set `name`=#{name},
            `details`=#{details},
            `userId`=#{userId},
            `groupId`=#{groupId},
            `placeId`=#{placeId},
            `beginDateTime`=#{beginDateTime},
            `endDateTime`=#{endDateTime}
        where `id` = #{id}
    </update>

    <delete id="deleteEvent" parameterType="int">
        delete from `time_span_events` where `id` = #{id}
    </delete>

</mapper>